<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My blog</title>
</head>
<body>
    <div>
        <h1><a href="/">welcome to Blog</a></h1>
    </div>

    <div>
        <p>published: 1.06.2019, 12:19</p>
        <h2><a href="">My first post</a></h2>
        <p>A man is a reflection of his thought</p>
    </div>
    <div>
        {% for post in posts %}
        <div>
            <p>{{post.published_date}}</p>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
        {% endfor %}
    </div>
    <div>
        <p>published: 1.11.2019, 12:22</p>
        <h2><a href="">My second post</a></h2>
        <p>The best way to learn is to teach other what you havev learnt</p>
    </div>
</body>
</html>